<body>
  <div class="container-fluid">
    <div class="row header">
      <div class="col-4"><h3>Your Notes</h3></div>
      <div class="col-4 text-center">
        <h4>{{ currentUser[0]["name"] }}</h4>
      </div>
      <div class="col-4">
          <button class="btn-danger float-right" (click)="resetState()">Logout</button>
      </div>
    </div>

    <div class="row">
      <div
        class="col-2 carddesign1"
        *ngFor="let card of currentUser[0]['notes'];let i = index"
        (click)="viewNote(i)"
      >
      <div class="row m-0 overflowBind"><h5>{{card.title}}</h5></div>
      <div class="row m-0 overflowBind"><span>{{card.detail}}</span></div>
      <i class="positionDelet" (click)="removeNote(i,$event)"><img src="../../assets/trash.svg"></i>
      <i class="positionEdit" (click)="editNote(i,$event)"><img src="../../assets/pencil-square.svg"></i>
      </div>
      <div class="col-2 carddesign" (click)="addNotes()">Click to Add</div>
    </div>
  </div>
</body>

<div class="modal" id="addNote" #addNote>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Notes</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div class="row">
              <div class="col-2"> <label>Title</label> </div>
              <div class="col-10"> <textarea [(ngModel)]="notes.title"></textarea></div>
          </div>

          <div class="row">
            <div class="col-2"> <label>Detail</label> </div>
            <div class="col-10"> <textarea rows="10" [(ngModel)]="notes.detail"></textarea></div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>

        <button *ngIf="updateAt<0"
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="saveNote()"
        >
          Add Note
        </button>

        <button
        *ngIf="updateAt>=0"
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="updateNote()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="noteView" #noteView>
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{viewNotes.title}}</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="closeViewModal()"
          >
            &times;
          </button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-12 contentContainer"><span>{{viewNotes.detail}}</span></div>
            </div>
        </div>
      </div>
    </div>
  </div>
